/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	/* color: #000; */
	/* font-family:""; */
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}
/* ------------------------------ */

p {
	background-color: #794f45;
	padding: 15px;
}

/*
Блок
НЕЗАВИСИМЫЙ объект.
НЕ влияет на окружение (внешние объекты).
*/

/*
В CSS обращаемся к БЭМ блоку
селектором первого уровня
*/

/* Верно (независимость) */
.who-we-are {
	background-color: #7a956b;
	color: #fff;
	/* Можно */
	padding: 15px;
	/* Нельзя */
	/* margin: 15px; */
}
.who-we-are__header {
	margin: 0px 0px 36px 0px;
}

.main-page__who-we-are {
	margin: 0px 0px 30px 0px;
}
.contacts__who-we-are {
	margin: 0px 0px 100px 0px;
}

/* Модифицированный блок */
.who-we-are_pupple {
	background-color: #77608d;
}

.who-we-are__title {
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.who-we-are__title_margin-font {
	font-size: 50px;
	margin: 0px 0px 30px 0px;
}

.who-we-are__text {
}

/* Не верно (зависимость) */
.item .who-we-are {
	background-color: #7a956b;
}

.link {
	font-size: 20px;
	color: yellow;
}

/* БЭМ блок */
.promice {
}

.promice__header {
	margin: 0px 0px 68px 0px;
}

/* БЭМ элементы */
.promice__title {
}
.promice__sub-title {
}
.promice__items {
}
.promice__item {
}
.promice__icon {
}
.promice__body {
}
.promice__label {
}
.promice__text {
}

/* БЭМ блок */
.item {
}
/* БЭМ элементы */
.item__icon {
}
.item__body {
}
.item__label {
}
.item__text {
}

.header-item {
}
.header-item__title {
}
.header-item__sub-title {
}

.item-promice {
}
.item-promice__icon {
}
.item-promice__body {
}
.item-promice__title {
}
.item-promice__text {
}

.some-block {
}

.some-block__title {
}
.some-block__text {
}

.block {
	border: 1px solid #000;
	padding: 15px;
	background-color: #794f45;
}
.block__title {
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.block__text {
}

._container {
	max-width: 500px;
	margin: 0px auto;
}

.page {
}
.page__title {
}
.page__text {
}





/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.main
{
	background-color: #d4d4d4;
	padding: 100px;
	width: auto;
}
.our-services {
	margin: 0 auto;
	font-family: "Roboto",sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	max-width: 1020px;
}
.our-services__heder {
	max-width: 583px;
	margin: 0 0 36px 0;
	vertical-align: top;
}
.heder-our-services__title {
	background: url("Mark.png") left  no-repeat ;
	padding: 0 0 0 31px;
	font-weight: 700;
	font-size: 12px;
	color: #5D62B5;
	margin: 0 0 33px 0;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	
}
.heder-our-services__text {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000;
	margin: 0 0 42px 0;
}
.list-of-services {
	word-spacing: 20px;
	letter-spacing: 0;
	border: 0px;
	text-align: center;
	
	


}
.list-of-services__box{
	margin: 0 0 24px 0;
	
}
.box-list {
	vertical-align: top;
	word-spacing: normal;
	letter-spacing: 1px;
	text-align: center;
	display: inline-block;
	width: 324px;
	height: 340px;
	padding: 50px 44px 50px 43px;
	background: white;
	border-radius: 20px;
}
.box-list__icon {
	display: inline-block;
	width: 63px;
	height: 63px;
	margin: 0 0 33px 0;
	
}
.box-list__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;	
	color: #F2726F;
	margin: 0 0 20px 0;
}
.box-list__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}
.box-list:hover
{
	box-shadow:0px 8px 16px rgba(38, 38, 38, 0.24) , 0px 16px 24px rgba(38, 38, 38, 0.2);
}
